docker/node-red-data/flows.json
[{"id":"e6551ea4.c2662","type":"tab","label":"Demo Visit Server","disabled":false,"info":""},{"id":"b117636d.56bae","type":"http in","z":"e6551ea4.c2662","name":"[HEAD] Incoming HTTP Requests","url":"/visit","method":"get","upload":false,"swaggerDoc":"","x":590,"y":400,"wires":[["579314a9.ec1634"]]},{"id":"d48046d5.f4379","type":"debug","z":"e6551ea4.c2662","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":360,"wires":[]},{"id":"496c3e36.3e1128","type":"http response","z":"e6551ea4.c2662","name":"Outgoing HTTP Response","statusCode":"","headers":{},"x":840,"y":700,"wires":[]},{"id":"e2c59f72.b0c56","type":"delay","z":"e6551ea4.c2662","name":"Request Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":520,"wires":[["85e87394.f54378"]]},{"id":"85e87394.f54378","type":"template","z":"e6551ea4.c2662","name":"Payload","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"Hello There!","output":"str","x":700,"y":580,"wires":[["ec374ac7.662dd8"]]},{"id":"ec374ac7.662dd8","type":"function","z":"e6551ea4.c2662","name":"Additional Metadata","func":"const output = msg;\noutput.statusCode = global.get('statusCode') || 200;\nreturn output;","outputs":1,"noerr":0,"x":780,"y":640,"wires":[["496c3e36.3e1128","d48046d5.f4379"]]},{"id":"cdbaf9af.9317f8","type":"inject","z":"e6551ea4.c2662","name":"Enable 404 Status","topic":"enable_404","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["5e8840ac.0560f"]]},{"id":"5e8840ac.0560f","type":"function","z":"e6551ea4.c2662","name":"Options Config","func":"switch (msg.topic) {\n    case 'enable_404':\n        global.set('statusCode', 404);\n        break;\n    case 'enable_delay':\n        global.set('requestDelay', 2000);\n        break;\n    case 'disable_delay':\n        global.set('requestDelay', 0);\n        break;\n    case 'enable_200':\n        global.set('statusCode', 200);\n        break;\n}\n\nmsg.payload = [\n    `Delay set to ${global.get('requestDelay') || 'Not Defined'}`,\n    `HTTP Status Code set to ${global.get('statusCode') || 'Not Defined'}`,\n];\n        \n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["d48046d5.f4379"]]},{"id":"2d1257e3.8c8038","type":"inject","z":"e6551ea4.c2662","name":"Enable 200 Status","topic":"enable_200","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["5e8840ac.0560f"]]},{"id":"b7ccf81e.f058d8","type":"inject","z":"e6551ea4.c2662","name":"Enable 2Secs delay","topic":"enable_delay","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["5e8840ac.0560f"]]},{"id":"9b72d0b7.db18e","type":"inject","z":"e6551ea4.c2662","name":"Disable 2Secs Delay","topic":"disable_delay","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["5e8840ac.0560f"]]},{"id":"579314a9.ec1634","type":"function","z":"e6551ea4.c2662","name":"Option Parser","func":"const output = msg;\n\noutput.delay = global.get('requestDelay') || 0;\noutput.statusCode = global.get('statusCode') || 200;\noutput.lGlobal = global.keys();\n\nreturn output;\n\n// switch (msg.topic) {\n//     case 'enable_404':\n//         global.statusCode = 404;\n//         break;\n//     case 'enable_delay':\n//         global.requestDelay = 2000;\n//         break;\n//     case 'disable_delay':\n//         global.requestDelay = 0;\n//         break;\n//     case 'enable_200':\n//         global.statusCode = 200;\n//         break;\n// }","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["e2c59f72.b0c56"]]},{"id":"331e1a09.5f3cd6","type":"comment","z":"e6551ea4.c2662","name":"Please use the above Triggers","info":"","x":140,"y":220,"wires":[]}]